{% extends '@Contao/content_element/_base.html.twig' %}
{% use "@Contao/component/_teaser.html.twig" %}
{% use "@Contao/component/_list.html.twig" %}

{% block content %}
    {% if as_editor_view %}
        <ul>
            {% for title in titles %}
                <li>{{ title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {% if teasers is not empty %}
            {% with { items: teasers } %}{{ block('list_component') }}{% endwith %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block list_item %}
    {% with { teaser: item } %}
        {{ block('teaser_component') }}
    {% endwith %}
{% endblock %}