{% extends '@Contao/content_element/_base.html.twig' %}
{% use "@Contao/component/_teaser.html.twig" %}

{% block content %}
    {% if as_editor_view %}
        <p>{{ titles|first }}</p>
    {% else %}
        {% if teasers is not empty %}
            {% with {teaser: teasers|first} %}{{ block('teaser_component') }}{% endwith %}
        {% endif %}
    {% endif %}
{% endblock %}